<%- include('header', {title:'Vásárló'}) -%>
<%- include('menu') -%>

<div class="container">
    <h1>Új Vásárló/Vásárló módosítása</h1>
    <form>
        <div class="form-row">
            <div class="form-group col-md-8">
                <label for="inputName">Név</label>
                <input type="text" class="form-control" id="inputName" placeholder="Név">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-8">
                <label for="inputEmail">E-mail</label>
                <input type="email" class="form-control" id="inputEmail" placeholder="E-mail">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-8">
                <label for="inputCity">Város</label>
                <input type="text" class="form-control" id="inputCity">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-5">
                <!--                <button type="submit" class="btn btn-primary">Save</button>-->
                <a href="/vasarlok" class="btn btn-info btn-lg active" role="button">Vásárló mentése</a>
            </div>
            <div class="form-group col-md-4">
                <!--                <button type="button" class="btn btn-primary">Back to Customers</button>-->
                <a href="/vasarlok" class="btn btn-info btn-lg active" role="button">Vissza</a>
            </div>
        </div>
    </form>

<%- include('footer') -%>